<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Launch Gazebo -->
  <include file="$(find scorbot_er_description)/launch/spawn.launch" />

  <!-- ros_control trajectory control dof arm launch file -->
  <include file="$(find scorbot_er_description)/launch/controllers.launch" />

  <!-- moveit launch file -->
  <include file="$(find scorbot_er_moveit_config)/launch/moveit_planning_execution.launch" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>

</launch>
