<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="support_high" value="1.0" />
  <xacro:property name="link_00_name" value="base_link" />
  <xacro:property name="link_01_name" value="link_01" />
  <xacro:property name="link_02_name" value="link_02" />
  <xacro:property name="link_03_name" value="link_03" />
  <xacro:property name="link_04_name" value="link_04" />
  <xacro:property name="gripper_name" value="gripper" />
  <xacro:property name="camera_z" value="1.7" />
  <xacro:property name="camera_y" value="1.0" />
  <xacro:property name="camera_pitch" value="0.2618" />
  <xacro:property name="camera_yaw" value="-0.7854" />
  <xacro:property name="camera_name" value="openni_camera_link" />
</robot>
